#textdomain wesnoth-Valley_of_the_Ancients

#define VoTA_SIDE SIDE
    # NOTE: id and save_id should be different from each other
    id=P{SIDE}
    save_id=Player_{SIDE}
    side={SIDE}
    controller=human
    persistent=yes
    canrecruit=yes
    controller_lock=yes
    faction_lock=no
    leader_lock=no
    team_lock=yes
    gold_lock=no
    income_lock=no
    # no, never (the sides will be "defeated" a few times)
    remove_from_carryover_on_defeat=no
#enddef

#define TRAIT_GIFTED
    [trait]
        id=gifted
        name= _ "gifted"
        male_name= _ "male^gifted"
        female_name= _ "female^gifted"
        description= _ "more powerful in every way"+"
"
        [effect]
            apply_to=attack
            increase_damage=25%
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=25%
            heal_full=yes
        [/effect]
        [effect]
            apply_to=movement
            increase=1
        [/effect]
    [/trait]
#enddef

#define PICKUPPABLE_AND_DROPPABLE_ITEM ID X Y FILTER IMAGE NAME TEXT WML
    [event]
        name=prestart

        [set_variables]
            name=item_{ID}
            [value]
                taken=no
                carrier=null
                x,y={X},{Y}
                icon={IMAGE}
            [/value]
        [/set_variables]

        [item]
            x,y={X},{Y}
            image={IMAGE}
        [/item]

        [event]
            name=moveto
            first_time_only=no

            [filter]
                {FILTER}
                x,y=$item_{ID}.x,$item_{ID}.y
            [/filter]

            [if]
                {VARIABLE_CONDITIONAL item_{ID}.taken not_equals yes}
                {VARIABLE_CONDITIONAL unit.variables.carrier not_equals yes}
                {VARIABLE_CONDITIONAL unit.canrecruit not_equals yes}
                [then]
                    [message]
                        speaker=narrator
                        image=$unit.profile
                        caption={NAME}
                        message={TEXT}

                        [option]
                            message= _ "Take it"

                            [command]
                                [object]
                                    [filter]
                                        x,y=$x1,$y1
                                    [/filter]
                                    duration=forever
                                    name={NAME}
                                    image={IMAGE}
                                    description={TEXT}
                                    [effect]
                                        apply_to=loyal
                                    [/effect]

                                    {WML}
                                [/object]

                                [unit_overlay]
                                    x,y=$x1,$y1
                                    image="misc/loyal-icon.png"
                                [/unit_overlay]

                                [remove_item]
                                    x,y=$item_{ID}.x,$item_{ID}.y
                                    image=$item_{ID}.icon
                                [/remove_item]

                                [set_variables]
                                    name=item_{ID}
                                    mode=merge
                                    [value]
                                        taken=yes
                                        carrier=$unit.id
                                    [/value]
                                [/set_variables]

                                [modify_unit]
                                    [filter]
                                        id=$unit.id
                                    [/filter]
                                    moves=0
                                    attacks_left=0
                                    [variables]
                                        carrier=yes
                                    [/variables]
                                [/modify_unit]
                                {VARIABLE_OP treasures_found add 1}
                                {VARIABLE_OP picked_up[$unit.side].value add 1}
                            [/command]
                        [/option]

                        [option]
                            message= _ "Leave it"
                            [command]
                                [allow_undo]
                                [/allow_undo]
                            [/command]
                        [/option]
                    [/message]
                [/then]
            [/if]
        [/event]

        [event]
            name=die
            first_time_only=no

            [filter]
                id=$item_{ID}.carrier
            [/filter]

            [set_variables]
                name=item_{ID}
                mode=merge
                [value]
                    taken=no
                    carrier=null
                    x,y=$x1,$y1
                [/value]
            [/set_variables]

            [item]
                x,y=$item_{ID}.x,$item_{ID}.y
                image=$item_{ID}.icon
            [/item]
            {VARIABLE_OP treasures_found sub 1}
            {VARIABLE_OP picked_up[$unit.side].value sub 1}
        [/event]
    [/event]

    [event]
        name=defeat,victory
        {CLEAR_VARIABLE item_{ID}}
    [/event]
#enddef

#define RECALL_LOYALS
    [store_unit]
        [filter]
            canrecruit=no
            [filter_wml]
                upkeep="loyal"
            [/filter_wml]
        [/filter]
        variable=loyals
    [/store_unit]

    {FOREACH loyals l}
        [recall]
            id=$loyals[$l].id
        [/recall]
    {NEXT l}
    {CLEAR_VARIABLE loyals}
#enddef
