#textdomain wesnoth-Valley_of_the_Ancients

#define VoTA_SIDE SIDE
    # NOTE: id and save_id should be different from each other
    id=P{SIDE}
    save_id=Player_{SIDE}
    side={SIDE}
    controller=human
    persistent=yes
    canrecruit=yes
#enddef

#define PICKUPPABLE_AND_DROPPABLE_ITEM ID X Y FILTER IMAGE NAME TEXT WML
    [event]
        name=prestart

        [set_variables]
            name=item_{ID}
            [value]
                taken=no
                carrier=null
                x,y={X},{Y}
                icon={IMAGE}
            [/value]
        [/set_variables]

        [item]
            x,y={X},{Y}
            image={IMAGE}
        [/item]

        [event]
            name=moveto
            first_time_only=no

            [filter]
                {FILTER}
                x,y=$item_{ID}.x,$item_{ID}.y
            [/filter]

            [if]
                {VARIABLE_CONDITIONAL item_{ID}.taken not_equals yes}
                {VARIABLE_CONDITIONAL unit.variables.carrier not_equals yes}
                {VARIABLE_CONDITIONAL unit.canrecruit not_equals yes}
                [then]
                    [message]
                        speaker=narrator
                        image=$unit.profile
                        caption={NAME}
                        message={TEXT}

                        [option]
                            message= _ "Take it"

                            [command]
                                [object]
                                    [filter]
                                        x,y=$x1,$y1
                                    [/filter]
                                    duration=forever
                                    name={NAME}
                                    image={IMAGE}
                                    description={TEXT}
                                    [effect]
                                        apply_to=loyal
                                    [/effect]

                                    {WML}
                                [/object]

                                [unit_overlay]
                                    x,y=$x1,$y1
                                    image="misc/loyal-icon.png"
                                [/unit_overlay]

                                [remove_item]
                                    x,y=$item_{ID}.x,$item_{ID}.y
                                    image=$item_{ID}.icon
                                [/remove_item]

                                [set_variables]
                                    name=item_{ID}
                                    mode=merge
                                    [value]
                                        taken=yes
                                        carrier=$unit.id
                                    [/value]
                                [/set_variables]

                                [modify_unit]
                                    [filter]
                                        id=$unit.id
                                    [/filter]
                                    moves=0
                                    attacks_left=0
                                    [variables]
                                        carrier=yes
                                    [/variables]
                                [/modify_unit]
                                {VARIABLE_OP treasures_found add 1}
                                {VARIABLE_OP picked_up[$unit.side].value add 1}
                            [/command]
                        [/option]

                        [option]
                            message= _ "Leave it"
                            [command]
                                [allow_undo]
                                [/allow_undo]
                            [/command]
                        [/option]
                    [/message]
                [/then]
            [/if]
        [/event]

        [event]
            name=die
            first_time_only=no

            [filter]
                id=$item_{ID}.carrier
            [/filter]

            [set_variables]
                name=item_{ID}
                mode=merge
                [value]
                    taken=no
                    carrier=null
                    x,y=$x1,$y1
                [/value]
            [/set_variables]

            [item]
                x,y=$item_{ID}.x,$item_{ID}.y
                image=$item_{ID}.icon
            [/item]
            {VARIABLE_OP treasures_found sub 1}
            {VARIABLE_OP picked_up[$unit.side].value sub 1}
        [/event]
    [/event]

    [event]
        name=defeat,victory
        {CLEAR_VARIABLE item_{ID}}
    [/event]
#enddef

#define RECALL_LOYALS
    [store_unit]
        [filter]
            canrecruit=no
            [filter_wml]
                upkeep="loyal"
            [/filter_wml]
        [/filter]
        variable=loyals
    [/store_unit]

    {FOREACH loyals l}
        [recall]
            id=$loyals[$l].id
        [/recall]
    {NEXT l}
    {CLEAR_VARIABLE loyals}
#enddef

#define VoTA_CHOOSE_ZOMBIE_VARIATION SIDE VARIATIONS
    [event]
        name=prerecruit
        first_time_only=no

        [filter_condition]
            {VARIABLE_CONDITIONAL zombie_{SIDE} not_equals $empty_string}
        [/filter_condition]

        [filter]
            side={SIDE}
            type=Walking Corpse
        [/filter]

        [object]
            duration=forever
            silent=yes

            [filter]
                x,y=$x1,$y1
            [/filter]

            [effect]
                apply_to=variation
                name=$zombie_{SIDE}
            [/effect]
        [/object]
    [/event]

    [event]
        name=victory,defeat
        {CLEAR_VARIABLE zombie_{SIDE}}
    [/event]

    [event]
        name=prerecruit

        [filter_condition]
            {VARIABLE_CONDITIONAL zombie_{SIDE} equals $empty_string}
        [/filter_condition]

        [filter]
            side={SIDE}
            type=Walking Corpse
        [/filter]

        {VARIABLE allowed {VARIATIONS}}

        [message]
            speaker=narrator
            message=_ "What type of Soulless would you like to recruit?"

            [option]
                [show_if]
                    [variable]
                        name=allowed
                        contains=bat
                    [/variable]
                [/show_if]
                message= _ "Bat"
                icon="units/undead/zombie-bat-se-4.png~RC(magenta>black)"
                [command]
                    {VARIABLE zombie_{SIDE} bat}
                    [modify_unit]
                        [filter]
                            id=$unit.id
                        [/filter]
                        variation=$zombie_{SIDE}
                    [/modify_unit]
                [/command]
            [/option]
            [option]
                [show_if]
                    [variable]
                        name=allowed
                        contains=saurian
                    [/variable]
                [/show_if]
                message= _ "Saurian"
                icon="units/undead/zombie-saurian.png~RC(magenta>black)"
                [command]
                    {VARIABLE zombie_{SIDE} saurian}
                    [modify_unit]
                        [filter]
                            id=$unit.id
                        [/filter]
                        variation=$zombie_{SIDE}
                    [/modify_unit]
                [/command]
            [/option]
            [option]
                [show_if]
                    [variable]
                        name=allowed
                        contains=goblin
                    [/variable]
                [/show_if]
                message= _ "Goblin"
                icon="units/undead/zombie-goblin-attack.png~RC(magenta>black)"
                [command]
                    {VARIABLE zombie_{SIDE} goblin}
                    [modify_unit]
                        [filter]
                            id=$unit.id
                        [/filter]
                        variation=$zombie_{SIDE}
                    [/modify_unit]
                [/command]
            [/option]
            [option]
                [show_if]
                    [variable]
                        name=allowed
                        contains=dwarf
                    [/variable]
                [/show_if]
                message= _ "Dwarf"
                icon="units/undead/zombie-dwarf.png~RC(magenta>black)"
                [command]
                    {VARIABLE zombie_{SIDE} dwarf}
                    [modify_unit]
                        [filter]
                            id=$unit.id
                        [/filter]
                        variation=$zombie_{SIDE}
                    [/modify_unit]
                [/command]
            [/option]
            [option]
                [show_if]
                    [variable]
                        name=allowed
                        contains=drake
                    [/variable]
                [/show_if]
                message= _ "Drake"
                image="units/undead/zombie-drake.png~RC(magenta>black)"
                [command]
                    {VARIABLE zombie_{SIDE} drake}
                    [modify_unit]
                        [filter]
                            id=$unit.id
                        [/filter]
                        variation=$zombie_{SIDE}
                    [/modify_unit]
                [/command]
            [/option]
            [option]
                [show_if]
                    [variable]
                        name=allowed
                        contains=wose
                    [/variable]
                [/show_if]
                message= _ "Wose"
                image="units/undead/zombie-drake.png~RC(magenta>black)"
                [command]
                    {VARIABLE zombie_{SIDE} wose}
                    [modify_unit]
                        [filter]
                            id=$unit.id
                        [/filter]
                        variation=$zombie_{SIDE}
                    [/modify_unit]
                [/command]
            [/option]
            image=wesnoth-icon.png
        [/message]
    [/event]
#enddef
